# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
kws_env/
kws_env_big/
code/sgmse/sgmse_env/

# Docker
docker_skopavi/
docker_ido/

# Jupyter
.ipynb_checkpoints/

# Outputs (models, runs)
outputs/
*.pt
*.keras

# Experiments / logs
experiments/
wandb/
*.log

# OS / Editor
.vscode/
.DS_Store

# Requirements
# txt

# Generated datasets
data/
*.csv

# External repos
sgmse_*

# SGMSE internal junk 
code/sgmse/checkpoints/
code/sgmse/lightning_logs/
code/sgmse/logs/
code/sgmse/enhanced_*/
code/sgmse/metrics_*/
code/sgmse/test_data/

# Temp
tmp/
tmp_*

# Personal 
avital_cheatsheet.txt