# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
docker_skopavi/
docker_ido/

# Jupyter
.ipynb_checkpoints/

# Trained models
runs/
*.pt
*.keras

# OS / Editor
.vscode/
.DS_Store

# Requirements
.txt
*.txt

kws/generated_noisy/
generated_noisy/
generated_enhanced/
*.csv
tmp_*
tmp_sgmse_*