# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
kws_env/
kws/kws_env/

# Docker
docker_skopavi/
docker_ido/

# Jupyter
.ipynb_checkpoints/

# Trained models
runs/
*.pt
*.keras

# OS / Editor
.vscode/
.DS_Store

# Requirements
# txt
*.log
avital_cheatsheet.txt
# *.txt

# Generated datasets
generated_noisy/
generated_enhanced/
kws/generated_noisy/

# Metadata (specific)
generated_*metadata.csv
*.csv

# Data
data/
data_new/

# External repos
sgmse_repo/

# Temp
tmp_*
tmp_sgmse_*